@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-color: #000;
    color: white;
    font-family: 'Krona One', sans-serif;
    text-align: center;
    padding: 20px;
    border-color: red
}

header {
    background-color: #111;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: red
}

h1 {
    color: #FF0000;
    font-size: 24px;
    margin-left: 20px;
    animation: fadeIn 1s ease-out;
}

h2 {
    color: #FF0000;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 40px;
    animation: fadeIn 1s ease-out;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    animation: fadeIn 1s ease-out;
}

nav ul li {
    margin-right: 20px;
    animation: fadeIn 1s ease-out;
}

nav ul li a {
    color: #FF0000;
    text-decoration: none;
    font-weight: bold;
    animation: fadeIn 1s ease-out;
}

.intro {
    max-width: 600px;
    margin: 50px auto;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    animation: fadeIn 1s ease-out;
}

p {
    max-width: 600px;
    margin: 0 auto 20px auto; /* Centrado y con espacio entre párrafos */
    line-height: 1.8; /* Espaciado de líneas para mejor legibilidad */
    text-align: justify; /* Justificar el texto */
    text-indent: 20px; /* Sangría al inicio de cada párrafo */
    word-spacing: 2px; /* Espaciado entre palabras para mejor apariencia */
    animation: fadeIn 1s ease-out;
}

/* 🎵 Estilos del reproductor de música */
#music-player {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: all 0.3s;
}

#music-player:hover {
    transform: scale(1.05);
}

.player-content {
    display: flex;
    align-items: center;
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
}

input[type="range"] {
    width: 100px;
}